[submodule "kb-optativa-reciclaje"]
	path = kb-optativa-reciclaje
	url = https://github.com/tudouerr/kb_optativa_reciclaje
[submodule "kb-opcional-jiahao"]
	path = kb-opcional-jiahao
	url = https://github.com/CarlosJHG/KB---Opcional.git
[submodule "kb-optativa-diagnosticopc"]
	path = kb-optativa-diagnosticopc
	url = https://github.com/matturati/kb-opcional.git
[submodule "kb-optativa-fran"]
	path = kb-optativa-fran
	url = https://github.com/Marcospoza/fdi-sbc-optativo.git
